<!--<h1>NgRx Introduction</h1>-->

form1 <app-form1 [control]="componentForm.controls.form1"></app-form1>

<ng-container *ngIf="componentForm.controls.form2.visible()">
  form2
  <app-form1 [control]="componentForm.controls.form2"></app-form1>
</ng-container>



<ng-container *ngIf="daneId.visible()">
  tytul <app-select [control]="daneId.controls.tytul"></app-select>
  system <app-select [control]="daneId.controls.systemRozliczeniowy"></app-select>
</ng-container>
<!--form2 <app-form2  [control]="form.controls.form2" *ngIf="form.controls.form2.visible()"></app-form2>-->

<button (click)="submit()" [disabled]="componentForm.invalid">Wyślij</button>

<!--<app-field label="label"></app-field>-->
<!--<app-moje-pole></app-moje-pole>-->
